/*css general*/
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
/*css pour la page d'accueil*/
.accueil{
    background-image: url(../img/Fond-accueil.png);
}
.logo{
    display: block;
    margin: 0 auto;
    height: 40vh;
    width: 57vh;
}