/*css general*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family:The_Wild_Breath_of_Zelda;
}
a{
    color: white;
    text-decoration: none;
}


/*DÉBUT PAGE D'ACCEUIL*/

/* fond */
.accueil{
    background-image: url(../img/img-Principal/Fond-accueil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    display: block;
    margin: 0 auto;
    height: 20rem;
    width: 25rem;
}

/* flexbox navigation */

.lien-accueil{
    display: flex;
    justify-content: space-evenly;
    line-height: 9rem;
} 

/* bordure navigation */

.image{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 4rem;
}
.image1{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 5rem;
}

/* taille image navigation */

div img{
    height: 70px;
}

/* image des liens et les transitions */
.rudania img:hover{
    transition: 2s; 
    transform: scale(1.1);
    background-image: url(../img/img-Principal/rudania.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ruta img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/ruta.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.medoh img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/medoh.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.naboris img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/naboris.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* FIN DE LA PAGE D'ACCUEIL */




/* DÉBUT PAGE D'ARMES */


/* fond body */

.fond-arme{
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
}

/* header */

/* fond header */

.header-armes{
    background-image: url(../img/img-Principal/fond-sheikah-modified.jpg);
}

/* taille icon header  */

.weapons-icon img{
    height: 8rem;
}

/*  icon position avec flexbox */

.weapons-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation */

.nav-link{
    display: flex;
    justify-content: end;
}
.nav-item{
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
    padding: 0.5rem 2rem;
    border:  1px solid black;
}

/* main */

.main-armes{
    display: flex;
}

/* flexbox des étiquettes (colonnes)*/

.etiquette-armes{
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: start;
}

/* flexbox du lore et les padding margin et la couleur */

.lore{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url(../img/img-Principal/fond-sheikah2.jpg);
    padding: 1rem 2rem;
    margin: 2rem 2rem 2rem 0rem;
    border-left: 5px solid rgba(82, 50, 4, 0.993);
    border-radius: 10px;
    gap: 11rem;
}

/* intérieur des étiquettes */

.description-arme{
    display: flex;
    gap: 5rem;
    max-width: 1000px;
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 0rem 15rem 15rem 0rem;
    font-size: 1rem;
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
    border-left: 4px solid rgba(82, 50, 4, 0.993);
}

/* texte dans les étiquettes */

.txtArme{
    margin: 0 auto;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    border-radius: 5rem;
    padding: 2rem;
}

/* image dans les étiquettes */

.imgArme{
    margin: 0;
    border-radius: 5rem;
    padding: 2rem;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
}



/* FIN DE LA PAGE D'ARMES */



/* DEBUT DE LA PAGE D'ARC */


.main-arc{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
}

.decription-principal-arc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.decription-principal-arc img{
    width: 200px;
    height: 200px;
}

.bloc-principal{
    margin-top: 20px;
    display: flex;
    align-items: start;
    gap: 20px;
}
.section-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-secondaire{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section-secondaire article{
    width: 250px;
}


.section-arc-legendaire{
    display: flex;
    gap: 30px;
}

.section-arc-legendaire article{
    display: flex;
    gap: 20px;
}

.box-arc-boko{
    background-image: url(../img/img-Principal/);
    margin: 10px;
    border-radius: 50px;
    padding: 30px;
    display:flex ;
    align-items: start;
    flex-direction: column;
    justify-content: baseline;
}
.box-arc{
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
    margin: 10px;
    border-radius: 30%;
    padding: 30px;
    display:flex ;
    align-items: start;
    flex-direction: column;
    justify-content: baseline;
}
.h1-bow{
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 4rem;
}
aside{
    max-width: 300px;
    margin-top: 20px;
    background-image: url(../img/img-Principal/fond-sheikah2.jpg) ;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid rgba(82, 50, 4, 0.993);
    padding-bottom: auto;
}
.h2-bow{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
}
.box-img-arc{
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    padding: 10px;
    border-radius: 30%;
    border: 2px solid #f3ebd9d5;
}
.box-img-arc2{
    padding: 10px;
    border-radius: 30%;
    border: 2px solid #f3ebd9d5;
}
.box-txt{
    display: flex;
    align-items: center;
    flex: 1;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    padding: 15px;
    border-radius: 40px 0px 0px 0px;
    border-left: 5px solid rgba(82, 50, 4, 0.993);
    border-top: 5px solid rgba(82, 50, 4, 0.993);
}
.box-txt2{
    display: flex;
    align-items: center;
    font-size: large;
    background-image: url(../img/img-Principal/fond-sheikah-modified.jpg);
    padding: 15px;
    border-radius: 40px 0px 0px 0px;
    border-left: 5px solid rgba(82, 50, 4, 0.993);
    border-top: 5px solid rgba(82, 50, 4, 0.993);
    margin-top: 50px;
    margin-bottom: 75px;
}
.box-arc-legendaire{
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
    padding: 20px;
    border-radius: 15px;
}
.box-img-arc-leg{
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    border-radius: 30%;
    padding: 10px;
    border: 2px solid burlywood;
}
.box-arc-leg-txt{
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    margin: 0;
}

.arc-article-image-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
}

.arc-boko{
    font-size: 2.5rem;
}

.flex-box-arc-leg{
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
}
.titre-arc-leg{
    margin: 0;
}

hr{
    background-color: darkgrey;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* FIN DE LA PAGE D'ARC */




/* DEBUT PAGE BOUCLIER */

.main-bouclier{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.section-haut{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.first-section-haut{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.seconde-section-haut{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.section-milieu-globale{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-central img{
    height: 140px;
    width: 160px;
}

.section-bas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.first-section-bas{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.seconde-section-bas{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.main-bouclier section article{
    max-width: 300px;
}



/* FIN DE LA PAGE BOUCLIER */



/* média queries */

@font-face{
    font-family:The_Wild_Breath_of_Zelda;
    src: url(../police-Perso/The_Wild_Breath_of_Zelda.otf);
}

