/*css general*/
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
/*css pour la page d'accueil*/
.accueil{
    background-image: url(../img/Fond-accueil.png);
}
/* logo page d'acceuil */
.logo{
    display: block;
    margin: 0 auto;
    height: 20rem;
    width: 25rem;
}
article{
    display: flex;
    justify-content: space-evenly;
    line-height: 9rem;
} 
.image{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 4rem;
}
.image1{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 5rem;
}
div img{
    height: 70px;
}
/* liens de la page d'accueil */
.rudania img:hover{
    transition: 2s; 
    transform: scale(1.1);
    background-image: url(../img/rudania.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ruta img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/ruta.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.medoh img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/medoh.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.naboris img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/naboris.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fond-arme{
    background-image: url(../img/fond-sheikah.jpg);

}
.header-arme{
    background-image: url(../img/fond-sheikah-modified.jpg);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.weapons{
    margin: 0 auto;
}
.ms-icon{
    margin-left: 0;
}
.description-arme{
    display: flex;
    text-align: center;
    margin: 4rem;
    padding: 2rem 3rem;
    border-radius: 0rem 15rem 15rem 0rem;
    font-size: 1rem;
    color: aliceblue;
    background-image: url(../img/fond-sheikah\ \(1\).jpg);
}
.txtArme{
    margin: 0 auto;
    background-image: url(../img/fond-sheikah.jpg);
    border-radius: 5rem;
    padding: 2rem;
}
.imgArme{
    margin: 0;
     border-radius: 5rem;
    padding: 2rem;
    background-image: url(../img/fond-sheikah.jpg);
}