/*css general*/
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: white;
    font-family:The_Wild_Breath_of_Zelda;

}
a{
    color: white;
    text-decoration: none;
}
/*css pour la page d'accueil*/
.accueil{
    background-image: url(../img/img-Principal/Fond-accueil.png);
}
/* logo page d'acceuil */
.logo{
    display: block;
    margin: 0 auto;
    height: 20rem;
    width: 25rem;
}
.lien-accueil{
    display: flex;
    justify-content: space-evenly;
    line-height: 9rem;
} 
.image{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 4rem;
}
.image1{   
    border-right: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-radius: 0rem 2rem ;
    padding: 1rem 5rem;
}
div img{
    height: 70px;
}
/* liens de la page d'accueil */
.rudania img:hover{
    transition: 2s; 
    transform: scale(1.1);
    background-image: url(../img/img-Principal/rudania.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ruta img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/ruta.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.medoh img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/medoh.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.naboris img:hover{
    transition: 2s;
    transform: scale(1.1);
    background-image: url(../img/img-Principal/naboris.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fond-arme{
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
}
.header-armes{
    background-image: url(../img/img-Principal/fond-sheikah-modified.jpg);
}
.weapons-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weapons-icon img{
    height: 8rem;
}
.main-armes{
    display: flex;
}
.etiquette-armes{
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: start;
}
.lore{
    display: flex;
    flex: 1;
    background-image: url(../img/img-Principal/fond-sheikah2.jpg);
    padding: 1rem 2rem;
    margin: 2rem 2rem 2rem 0rem;
    border-left: 5px solid rgba(82, 50, 4, 0.993);
    border-radius: 10px;
}
.description-arme{
    display: flex;
    gap: 5rem;
    max-width: 1000px;
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 0rem 15rem 15rem 0rem;
    font-size: 1rem;
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
}
.txtArme{
    margin: 0 auto;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
    border-radius: 5rem;
    padding: 2rem;
}
.imgArme{
    margin: 0;
    border-radius: 5rem;
    padding: 2rem;
    background-image: url(../img/img-Principal/fond-sheikah.jpg);
}
.nav-link{
    display: flex;
    justify-content: end;
}
.nav-item{
    background-image: url(../img/img-Principal/fond-sheikahClaire.jpg);
    padding: 0.5rem 2rem;
    border:  1px solid black;
}












@font-face{
    font-family:The_Wild_Breath_of_Zelda;
    src: url(../police-Perso/The_Wild_Breath_of_Zelda.otf);
}